<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <h1>Hello World</h1>
    <h2>

        <%= text %>
    </h2>
    <a href="/about">About page</a>
    <img src="img/traje_gato.png" alt="Cat">
</body>
</html>